on boot
    # update cpusets now that processors are up
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 0-7
    write /dev/cpuset/system-background/cpus 0-7

on property:vendor.post_boot.parsed=1
    # according to Qcom this legacy value improves first launch latencies
    # stock value is 512k
    setprop dalvik.vm.heapminfree 2m

    # end boot time fs tune
    write /sys/block/mmcblk0/queue/scheduler bfq
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 256
    write /sys/block/mmcblk0/queue/nr_requests 256
    write /sys/block/mmcblk0rpmb/queue/scheduler bfq
    write /sys/block/mmcblk0rpmb/queue/iostats 0
    write /sys/block/mmcblk0rpmb/queue/read_ahead_kb 256
    write /sys/block/mmcblk0rpmb/queue/nr_requests 256

    # Disable thermal core control until CPU is configured 
    write /sys/module/msm_thermal/core_control/enabled 0

    # Setting b.L scheduler parameters
    write /proc/sys/kernel/sched_upmigrate 96
    write /proc/sys/kernel/sched_downmigrate 90
    write /proc/sys/kernel/sched_group_upmigrate 140
    write /proc/sys/kernel/sched_group_downmigrate 120
    write /proc/sys/kernel/sched_select_prev_cpu_us 0
    write /proc/sys/kernel/sched_freq_inc_notify 400000
    write /proc/sys/kernel/sched_freq_dec_notify 400000
    write /proc/sys/kernel/sched_spill_nr_run 5
    write /proc/sys/kernel/sched_restrict_cluster_spill 1
    write /proc/sys/kernel/sched_short_burst_ns 100000
    write /proc/sys/kernel/sched_prefer_sync_wakee_to_waker 1
    write /proc/sys/kernel/sched_small_wakee_task_load 20

    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1401600"
    write /sys/module/cpu_boost/parameters/input_boost_ms 120

    # cpuset settings
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-3,6-7
    write /dev/cpuset/foreground/cpus 0-3,6-7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3

    # Setup dirty ratios
    write /proc/sys/vm/dirty_ratio 5
    write /proc/sys/vm/dirty_background_ratio 1

    # Lower vfs_cache_pressure
    write /proc/sys/vm/vfs_cache_pressure 60

    # bring all cores online
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    write /sys/module/msm_thermal/core_control/enabled 1

